* {
  margin:      0;
  padding:     0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  line-height: 1.15;
  color:       var(--text-primary);
}

:root {
  /* Paleta de Cores */
  --gray1: var(--dgray1);
  --gray2: var(--dgray2);
  --gray3: var(--dgray3);
  --gray4: var(--dgray4);
  --gray5: var(--dgray5);
  --gray6: var(--dgray6);

  --tgray1: var(--tdgray1);
  --tgray2: var(--tdgray2);
  --tgray3: var(--tdgray3);
  --tgray4: var(--tdgray4);
  --tgray5: var(--tdgray5);
  --tgray6: var(--tdgray6);

  --text-primary:   var(--lgray2);
  --text-secondary: var(--lgray4);

  --lgray1: rgb(255, 255, 255);
  --lgray2: color-mix(in srgb, var(--lgray1) 95%, black);
  --lgray3: color-mix(in srgb, var(--lgray1) 90%, black);
  --lgray4: color-mix(in srgb, var(--lgray1) 85%, black);
  --lgray5: color-mix(in srgb, var(--lgray1) 80%, black);
  --lgray6: color-mix(in srgb, var(--lgray1) 75%, black);

  --tlgray1: color-mix(in srgb, var(--lgray1) 80%, transparent);
  --tlgray2: color-mix(in srgb, var(--lgray2) 80%, transparent);
  --tlgray3: color-mix(in srgb, var(--lgray3) 80%, transparent);
  --tlgray4: color-mix(in srgb, var(--lgray4) 80%, transparent);
  --tlgray5: color-mix(in srgb, var(--lgray5) 80%, transparent);
  --tlgray6: color-mix(in srgb, var(--lgray6) 80%, transparent);

  --dgray1: rgb(0, 0, 0);
  --dgray2: color-mix(in srgb, var(--dgray1) 96.6%, white);
  --dgray3: color-mix(in srgb, var(--dgray1) 93.3%, white);
  --dgray4: color-mix(in srgb, var(--dgray1) 90%, white);
  --dgray5: color-mix(in srgb, var(--dgray1) 86.6%, white);
  --dgray6: color-mix(in srgb, var(--dgray1) 83.3%, white);

  --tdgray1: color-mix(in srgb, var(--dgray1) 80%, transparent);
  --tdgray2: color-mix(in srgb, var(--dgray2) 80%, transparent);
  --tdgray3: color-mix(in srgb, var(--dgray3) 80%, transparent);
  --tdgray4: color-mix(in srgb, var(--dgray4) 80%, transparent);
  --tdgray5: color-mix(in srgb, var(--dgray5) 80%, transparent);
  --tdgray6: color-mix(in srgb, var(--dgray6) 80%, transparent);

  /* Espaçamentos */
  --space-2xs: 0.25rem;
  --space-xs:  0.5rem;
  --space-sm:  0.75rem;
  --space-md:  1rem;
  --space-lg:  1.5rem;
  --space-xl:  2rem;
  --space-2xl: 3rem;

  --gap-xs: var(--space-xs);
  --gap-sm: var(--space-sm);
  --gap-md: var(--space-md);
  --gap-lg: var(--space-lg);

  --padding-sm: var(--space-sm);
  --padding-md: var(--space-md);
  --padding-lg: var(--space-lg);

  --margin-sm: var(--space-sm);
  --margin-md: var(--space-md);
  --margin-lg: var(--space-lg);

  /* Superfícies */
  --surface-background-bg-color: var(--gray1);
  --grid-color:                  var(--gray2);
  --grid-size:                   1.75rem;  

  --surface-chrome-bg-color:     var(--gray2);
  --surface-chrome-border-color: var(--gray3);

  --surface-chrome-layer-bg-color:       var(--gray3);
  --surface-chrome-layer-hover-bg-color: var(--surface-chrome-layer-border-color);
  --surface-chrome-layer-border-color:   var(--gray4);
  --surface-chrome-border-radius:        10px;
  --surface-chrome-box-shadow:           0 0 1rem rgba(0, 0, 0, 0.25);

  --header-height: 2.75rem;
  --aside-width:   13.5rem;
  --aside-padding: var(--padding-md);

  --main-padding: 2rem;

  /* Tipografia */
  --fs-1: 2.986rem;
  --fs-2: 2.488rem;
  --fs-3: 2.074rem;
  --fs-4: 1.728rem;
  --fs-5: 1.44rem;
  --fs-6: 1.2rem;
}

h1 { font-size: var(--fs-1); }
h2 { font-size: var(--fs-2); }
h3 { font-size: var(--fs-3); }
h4 { font-size: var(--fs-4); }
h5 { font-size: var(--fs-5); }
h6 { font-size: var(--fs-6); }

.chrome-control {
  background-color: var(--surface-chrome-layer-bg-color);
  border:           1px solid var(--surface-chrome-layer-border-color);
  border-radius:    var(--surface-chrome-border-radius);
  box-shadow:       var(--surface-chrome-box-shadow);
}

a.chrome-control,
button.chrome-control {
  transition: background-color 0.3s;
  cursor:     pointer;
}

a.chrome-control:hover,
button.chrome-control:hover {
  background-color: var(--surface-chrome-layer-hover-bg-color);
}

body {
  background-color: var(--surface-background-bg-color);
  background-image:
  linear-gradient(
    90deg,
    var(--grid-color) 1px,
    transparent 1px
  ),
  linear-gradient(
    0deg,
    var(--grid-color) 1px,
    transparent 1px
  );

  background-size: var(--grid-size) var(--grid-size);
}

main {
  padding:      var(--main-padding);
  padding-left: calc(var(--aside-width) + 1px + var(--main-padding));
  padding-top:  calc(var(--header-height) + 1px + var(--main-padding));
}

.page-header, aside {
  position:         fixed;
  background-color: var(--surface-chrome-bg-color);
  border-color:     var(--surface-chrome-border-color);
}

.page-header {
  width:               100%;
  height:              var(--header-height);
  padding-left:        calc(var(--aside-width) + 1px);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

aside {
  width:              var(--aside-width);
  height:             100%;
  padding:            var(--aside-padding);
  border-right-style: solid;
  border-right-width: 1px;
}

