* {
  margin:  0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.15;
  color: var(--text-primary);
}

:root {
  --gray1: var(--dgray1);
  --gray2: var(--dgray2);
  --gray3: var(--dgray3);
  --gray4: var(--dgray4);
  --gray5: var(--dgray5);
  --gray6: var(--dgray6);
  --text-primary:   var(--lgray2);
  --text-secondary: var(--lgray4);

  --lgray1: rgb(250, 250, 255);
  --lgray2: color-mix(in srgb, var(--lgray1) 95%, black);
  --lgray3: color-mix(in srgb, var(--lgray1) 90%, black);
  --lgray4: color-mix(in srgb, var(--lgray1) 85%, black);
  --lgray5: color-mix(in srgb, var(--lgray1) 80%, black);
  --lgray6: color-mix(in srgb, var(--lgray1) 75%, black);

  --dgray1: rgb(0, 0, 5);
  --dgray2: color-mix(in srgb, var(--dgray1) 95%, white);
  --dgray3: color-mix(in srgb, var(--dgray1) 90%, white);
  --dgray4: color-mix(in srgb, var(--dgray1) 85%, white);
  --dgray5: color-mix(in srgb, var(--dgray1) 80%, white);
  --dgray6: color-mix(in srgb, var(--dgray1) 75%, white);
}

body {
  background-color: var(--gray2);
}